atomicwrites==1.4.0
attrs==21.2.0
certifi==2021.10.8
charset-normalizer==2.0.7
click==7.1.2
colorama==0.4.4
fastapi==0.63.0
greenlet==1.0.0
h11==0.12.0
idna==3.3
iniconfig==1.1.1
packaging==20.9
pluggy==0.13.1
psycopg2-binary==2.8.6
py==1.10.0
pydantic==1.8.1
pyparsing==2.4.7
pytest==6.2.4
python-dotenv==0.19.1
requests==2.26.0
six==1.16.0
SQLAlchemy==1.4.12
SQLAlchemy-Utils==0.37.9
starlette==0.13.6
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.7
uvicorn==0.13.4
